@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-sans {
  font-family: 'Nunito Sans', sans-serif;
}

.font-jost{
  font-family: 'Jost', sans-serif;
}